<div class="m-10 px-12 flex">
  <h1 class="text-3xl font-semibold text-gray-800">Productos</h1>

</div>

<div class="relative overflow-x-auto ml-20 mr-20 sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400  ">
        <thead class="text-xs text-white uppercase bg-indigo-300">
            <tr>
                <th scope="col" class="px-6 py-3">
                    ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Producto
                </th>
                <th scope="col" class="px-6 py-3">
                    Precio
                </th>
            </tr>
        </thead>
        <tbody>
            {{#each productos}}
            <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{id}}
                </th>
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                    {{producto}}
                </th>
                <td class="px-6 py-4">
                    {{precio}}
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>