<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Node y MySQL</title>
    
    <!-- Tailwind CSS Link -->
    <link rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.0.1/tailwind.min.css">

    <!-- Fontawesome Link -->
    <link href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" rel="stylesheet">
 
  </head>
  <body class="bg-white">
    <nav class="flex py-5 bg-indigo-300 text-white px-24">
        <div class="w-1/2 px-12 mr-auto">
            <a href="/" class="text-2xl font-bold">Node + Mysql + Docker</a>
        </div>
        <ul class="w-1/2 px-16 ml-auto flex justify-end pt-1">
            <li class="nav-item px-4">
                <a href="/clientes" class="nav-link fon-semibold border-2 border-white hover:bg-indigo-200 py-3 px-4 rounded-md">Clientes</a>
            </li>
            <li class="nav-item px-4">
                <a href="/productos" class="nav-link font-semibold hover:bg-indigo-200 py-3 px-4 rounded-md">Productos</a>
            </li>
        </ul>
    </nav>
    {{{body}}}
  </body>
</html>